-
    const notifs = [
        {
            username: 'Mark Webber',
            text: 'reacted to your recent post <b>My first tournament today!</b>',
            time: '1m ago',
            unread: true,
        },
        {
            username: 'Angela Gray',
            text: 'followed you',
            time: '5m ago',
            unread: true,
        },
        {
            username: 'Jacob Thompson',
            text: 'has joined your group <a>Chess Club</a>',
            time: '1 day ago',
            unread: true,
        },
        {
            username: 'Rizky Hasanuddin',
            text: 'sent you a private message',
            time: '5 days ago',
            details: 'Hello, thanks for setting up the Chess Club. I\'ve been a member for a few weeks now and I\'m already having lots of fun and improving my game.',  
            unread: true,
        },
        {
            username: 'Kimberly Smith',
            text: 'commented on your picture',
            time: '1 week ago',
            pic: 'image-chess.webp',
        },
        {
            username: 'Nathan Peterson',
            text: 'reacted to your recent post <b>5 end-game strategies to increase your win rate</b>',
            time: '2 weeks ago',
        },
        {
            username: 'Anna Kim',
            text: 'left the group <a>Chess Club</a>',
            time: '2 weeks ago',
        }
    ]