doctype html
html(lang="en")
    head
        title TEMPLATE
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.css")
    body 
        h1 TEMPLATE
        .attribution.
            Challenge by #[a(href='https://www.frontendmentor.io?ref=challenge' target='_blank') Frontend Mentor]. 
            Coded by #[a(href='https://www.frontendmentor.io/profile/kucherovvv') Vladimir Kucherov].
        script(src="app.js")