doctype html
html(lang="en")
    head
        title TEMPLATE
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.css")
        style.
            .attribution { font-size: 11px; text-align: center; }
            .attribution a { color: hsl(228, 45%, 44%); }
    body 
        h1 TEMPLATE
        .attribution.
            Challenge by #[a(href='https://www.frontendmentor.io?ref=challenge' target='_blank') Frontend Mentor]. 
            Coded by #[a(href='https://github.com/kucherovvv') Vladimir Kucherov].
        script(src="app.js")