@use 'base';
@use 'utilities';
@use 'abstract' as *;

h1 {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, rgb(153, 38, 124), rgb(190, 189, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
}